
@{
   /* ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Main.cshtml";*/
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@

<script src="~/Content/js/jQuery.js"></script>
@*<script src="~/Content/js/JqueryValidation.js"></script>*@
    <link href="~/Content/css/logIn.css" rel="stylesheet" />
</head>
<body>

    <form action="#" id="frmValid1" method="post">
        <div id="login">
            @*<h3 class="text-center text-white pt-5">Login form</h3>*@
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            @*<form id="login-form" class="form" action="" method="post">*@
                            <div class="card">
                                <div class="card-body">
                                    <div class="form">
                                        <h3 class="text-center text-info">Login</h3>
                                        <div class="form-group">
                                            @*<label for="username" class="text-info">Username:</label>*@<br>
                                            <input type="text" name="UserName" id="UserName" class="form-control" required placeholder="User Name">
                                        </div>
                                        <div class="form-group">
                                            @*<label for="password" class="text-info">Password:</label>*@<br>
                                            <input type="password" name="Password" id="Password" class="form-control" required placeholder="Password">
                                            @*@Html.TextBoxFor(model => model.Password, new { autocomplete = "off", @class = "form-control" })*@
                                        </div>
                                        <div class="form-group">
                                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                            <div class="text-center">
                                                <input type="submit" name="submit" onclick="fun2()" class="btn btn-info btn-md" value="submit">
                                            </div>
                                        </div>
                                        <div id="register-link" class="text-right">
                                            @*<a href="#" class="text-info">Register here</a>*@
                                            @ViewData["msg"]
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
//   $(document).ready(function () {
//    fun();
//});
    //$(#frmValid1).frmValid1();

    function fun() {
        if ($("form")[0].checkValidity()) {
            var txt1 = $("#UserName").val();
            var txt2 = $("#Password").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("CH")',
                contentType: "application/json; charset=utf-8",
                cache: false,
                data: {field1: txt1, field2 : txt2},
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert('Success');
                        fun2();
                    } else {
                        alert("Else part");
                    }
                    fun2();
                },
                 failure: function (ex)
                {
                  alert("Failure");
                  fun2();
                },
                error: function (ex)
                {
                  alert("Error");
                  swal("Good job!", "You clicked the button!", "success");
                }                
        });
        }
            }


    function fun2() {
        swal("Done!","It was succesfully deleted!","success");
    }

    </script>



</body>
</html>


