
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Main.cshtml";
}


@*<br />
<div class="text-center">
    <h2>Services</h2>
</div>*@
<div class="card">
    <div class="card-body">
        <div class="card-header text-center">
            <h2>Services</h2>
        </div>
        <div class="card-body">
            <h4>Your Hands-Free Blogging Solution</h4>
            <p>
                We don’t just write the content for you, we can also post the article directly to your blog for no additional fee, as long as you use WordPress.
            </p>
            <p>
                When ordering, just select the option for us to post it to your site, provide us your login credentials, and we’ll go into your site to add the new content.
            </p>
            <p>
                Not only will we upload the post, but we’ll also format it to make sure it looks good and we’ll even add a photo to it!
            </p>
            <hr />
            <h4>Experienced, Trained Writers</h4>
            <p>
                We take pride in being the best writing service on the planet. In fact, we only hire 1% of all writers that apply to work with us.
            </p>
            <p>
                After we hire the best of the best, we put them through our training program to teach them exactly how to write for search engines AND humans at the same time.
            </p>
            <p>
                HOTH Blogger eliminates the need to ever hire writers again. You can tap into a large collection of expert blog writers with years of experience across different subject matters.
            </p>
        </div>
    </div>
</div>
