
@{
    ViewBag.Title = "Damage Goods";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="card">
    <div class="card-header text-center">
        <h2>Damage Goods</h2>
    </div>
    <div class="card-body">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- Form -->
                    @*<form class="form-example" action="" method="post">*@
                    @using (Html.BeginForm("DamageGoods", "User", FormMethod.Post))
                    {
                        <!-- Input fields -->
                    <div class="form-group">
                        @*<label for="username">Username:</label>*@
                        @*<input type="text" class="form-control username" id="username" placeholder="Username..." name="username">*@
                        @*<input type="text" name="name" value="" placeholder="ID" class="form-control" />*@
                        <select class="form-control" id="OrderId" name="Order Id">
                            <option>Select Order Id</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>                        
                        @*<div class="form-group">
                            <input type="text" name="name" value="" placeholder="Mobile Number" class="form-control" />
                        </div>*@
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Note :</label>
                            <textarea class="form-control" required id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <div class="text-center">
                            <div class="form-group">
                                <input type="submit" name="name" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                        <!-- End input fields -->
                        <div class="text-center">
                            <!--
                                This is for Message
                             -->
                        </div>
                    }
                    @*</form>*@
                    <!-- Form end -->
                </div>
            </div>
        </div>
    </div>
</div>

<br />


