
@{
    ViewBag.Title = "Add Warehouse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>AddWareHouse</h2>*@
@*<div class="jumbotron">*@
@*<div class="card">
        <div class="card-header text-center">
            <h2>Addware House</h2>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("logIn", "Default", FormMethod.Post))
            {
            <div>
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="form-group">
                        <input type="text" name="name" value="" placeholder="ID" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" placeholder="Place" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" placeholder="Supervisor Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" placeholder="Capacity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" value="" placeholder="Mobile Number" class="form-control" />
                    </div>
                    <div class="text-center">
                        <div class="form-group">
                            <input type="submit" name="name" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>*@
<div class="card">
    <div class="card-header text-center">
        <h2>Add warehouse</h2>
    </div>
    <div class="card-body">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- Form -->
                    @*<form class="form-example" action="" method="post">*@
                    @*@using (Html.BeginForm("AddWareHouse", "Admin", FormMethod.Post))
                        {*@
                    <!-- Input fields -->
                    <div class="form-group">
                        @*<label for="username">Username:</label>*@
                        @*<input type="text" class="form-control username" id="username" placeholder="Username..." name="username">*@
                        <input type="text" name="ID" value="" id="ID" required placeholder="ID" class="form-control" />
                    </div>
                    <div class="form-group">
                        @*<label for="password">Password:</label>*@
                        @*<input type="password" class="form-control password" id="password" placeholder="Password..." name="password">*@
                        <input type="text" name="Place" value="" id="Place" required placeholder="Place" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="SupervisorName" id="SupervisorName" value="" required placeholder="Supervisor Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Capacity" id="Capacity" value="" required placeholder="Capacity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="MobileNumber" id="MobileNumber" value="" required placeholder="Mobile Number" class="form-control" />
                    </div>
                    @*<button type="submit" class="btn btn-primary btn-customized">Login</button>*@

                    <div class="text-center">
                        <div class="form-group">
                            <input type="submit" name="name" value="Submit" onclick="fun()" class="btn btn-primary" />
                        </div>
                    </div>
                    <!-- End input fields -->
                    <div id="msg">
                        @*<h6>@TempData["msg"]</h6>*@
                    </div>
                    @*}*@
                    @*</form>*@
                    <!-- Form end -->
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@*</div>*@


<script>
    function fun() {
        var Data = {
            ID: $('#ID').val(),
            Place: $('#Place').val(),
            SupervisorName: $('#SupervisorName').val(),
            Capacity: $('#Capacity').val(),            
            MobileNumber: $('#MobileNumber').val()
        }
        
        $.ajax('/Admin/AddWareHouse', {
            type: 'POST',  // http method
            data: { ModelData: Data },  // data to submit
            success: function (data) {
                $('#ID').val('');
                $('#Place').val('');
                $('#SupervisorName').val('');
                $('#Capacity').val('');                
                $('#MobileNumber').val('');
                if (data == 1) {
                    $("#msg").html('<div class="text-center text-success">                <h5>Submitted Successfully</h5>            </div>');
                } else {
                    $("#msg").html('<div class="text-center text-danger">                <h5>Failed..........</h5>            </div>');
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert('Error');
            }
        });
    }
</script>
