
@{
    ViewBag.Title = "ShiftOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header text-center">
        <h2>Shift Order</h2>
    </div>
    <div class="card-body">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- Form -->
                    @*<form class="form-example" action="" method="post">*@
                    @using (Html.BeginForm("logIn", "Default", FormMethod.Post))
                    {
                        <!-- Input fields -->
                        <div class="form-group">
                            @*<label for="username">Username:</label>*@
                            @*<input type="text" class="form-control username" id="username" placeholder="Username..." name="username">*@
                            <input type="text" name="name" value="" placeholder="ID" class="form-control" />
                        </div>
                        <div class="form-group">
                            @*<label for="password">Password:</label>*@
                            @*<input type="password" class="form-control password" id="password" placeholder="Password..." name="password">*@
                            <input type="text" name="name" value="" placeholder="Place" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" value="" placeholder="Supervisor Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" value="" placeholder="Capacity" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" value="" placeholder="Mobile Number" class="form-control" />
                        </div>
                        @*<button type="submit" class="btn btn-primary btn-customized">Login</button>*@

                        <div class="text-center">
                            <div class="form-group">
                                <input type="submit" name="name" value="Submit" class="btn btn-primary" />
                            </div>
                        </div>
                        <!-- End input fields -->
                        <div class="text-center">
                            <!--
                                This is for Message
                             -->
                        </div>
                    }
                    @*</form>*@
                    <!-- Form end -->
                </div>
            </div>
        </div>
    </div>
</div>

<br />

