@*@using System.Data
    @model DataTable*@
@{
    ViewBag.Title = "Trace Cargo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<form action="/" method="post">*@
    <div class="card">
        <div class="card-header text-center">
            <h2>Trace Cargo</h2>
        </div>
        <div class="card-body">
            <div class="container h-100">
                @*@using (Html.BeginForm("TraceCargo", "Admin", FormMethod.Post))
                    {*@
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6">

                        <div class="input-group">
                            <input type="text" class="form-control" name="Id" id="ID" required placeholder="Trace Cargo">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit" onclick="fun()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        @*@if (Model == null) { return; }*@
                        <br />
                        @*//}*@
                    </div>
                </div>
                <div id="dtbl"></div>

                @*}*@
            </div>
        </div>
    </div>
@*</form>*@
<br />
@TempData["msg"]

<script>

@*function fun() {
        var id = $("#ID").val();
        if ($("form")[0].checkValidity()) {
             $.ajax({
            //type: "POST",
             url: '@Url.Action("GetTraceResult","Admin")',
                 contentType: "application/json; charset=utf-8",
                 type: "POST",
            data: { ID: id},
            dataType: "json",
             success: function (data) {
                 addTblHeader();
                 var items = '';
                  $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td>" + item.OrderId + "</td>"
                            + "<td>" + item.ShiftFrom + "</td>"
                            + "<td>" + item.QuantityOrdered + "</td>"
                            + "<td>" + item.ShiftTo + "</td>"
                            + "<td>" + item.Capacity + "</td>"
                            + "<td>" + item.QuantityInWarehouse + "</td>"
                            + "</tr>";
                        $('#tableData tbody').append(rows);
                  })
             },
              error: function (ex)
            {
                var r = jQuery.parseJSON(response.responseText);
                  alert("Message: " + r.Message);
                  alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }

        });
        }
    }*@
    function fun() {
        var id = $("#ID").val();
        $.ajax('/Admin/GetTraceResult', {
            type: 'POST',  // http method
            data: { ID: id },  // data to submit
            success: function (data) {                
                $("#loading").show();
                $("#ID").val('');
                if (data == '') {
                    $('#tableData').empty();                    
                    $("#dtbl").html('<div class="text-center">                <h4>Data not available</h4>            </div>')
                    $("#loading").hide();
                    return;
                }                
                addTblHeader();                
                $.each(data, function (i, item) {                    
                    var rows = "<tr>"
                        + "<td>" + item.OrderId + "</td>"
                        + "<td>" + item.ShiftFrom + "</td>"
                        + "<td>" + item.QuantityOrdered + "</td>"
                        + "<td>" + item.ShiftTo + "</td>"
                        + "<td>" + item.Capacity + "</td>"
                        + "<td>" + item.QuantityInWarehouse + "</td>"
                        //+ '<td><button type="button"  class="btn-link btn-action btn-edit" data-toggle="tooltip" data-placement="bottom" title="Edit!" onclick="Edit(' + i + ')"> <i class="fa fa-edit"></i></button> <button type="button" class="btn-link btn-action btn-delete" data-toggle="tooltip" data-placement="bottom" title="Delete!" onclick="Delete(' + i + ')"><i class="fa fa-trash-o"></i></button></td>';
                    + "</tr>";

                    $('#tableData tbody').append(rows);                    
                });
                $("#loading").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) {                
                alert('Error');
            }
        });
    }


    function addTblHeader() {
        var tbl = '<table class="table table-bordered text-center" id="tableData">                                        <thead>                        <tr>                            <th scope="col">Order Id </th>                            <th scope="col">Shift From</th>                            <th scope="col">Quantity Ordered</th>                            <th scope="col">Shift To</th>                            <th scope="col">Capacity</th>                            <th scope="col">Quantity In Warehouse</th>                        </tr>                    </thead><tbody></tbody>            </table> ';
        document.getElementById("dtbl").innerHTML = tbl;
    }

</script>

